.header-container {
  width: 100%;
  padding: 16px 0 0 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.header-content {
  max-width: 700px;
  width: 100%;
  padding: 0 24px;
}

.header-menu {
  border-radius: 8px;
  border: 1px solid #2f2f2f;
  line-height: 48px;
  justify-content: center;
}

.header-menu .ant-menu-item:hover,
.header-menu .ant-menu-submenu:hover {
  background-color: #616161ff !important;
}

.header-menu .ant-menu-item:focus-visible,
.header-menu .ant-menu-submenu:focus-visible {
  background-color: #616161ff !important;
  outline: 2px solid #ffffff;
  outline-offset: 2px;
}

.header-menu .ant-menu-item-selected,
.header-menu .ant-menu-submenu-selected  {
  font-weight: bold !important;
}

/* submenu styles */

.navigation-popup {
    padding: 15px;
    background-color: #2f2f2f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 480px;
    min-width: 225px;
}

.menu-item {
    box-sizing: border-box;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 5px 0 5px 0;
    min-width: 60px;
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-word;
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* .menu-item-description {
    max-width: 232px;
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-word;
} */

.menu-item-space {
    padding: 8px;
}

.leading-header {
    margin: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: 1px solid rgb(99, 99, 99);
}

.margin-less {
    margin: 0 !important;
}

/* end of submenu styles */